@charset "UTF-8";
/* CSS Document */


/**************************************************************************** 
    layout
****************************************************************************/
/* Frame */
body {}


/****************************************************************************
	content area
****************************************************************************/
/* swiper */
#secVisual {position:fixed;width:100%;height:100%}
#secVisual .swiper-container {height:100%}
#secVisual .swiper-slide:nth-child(2) {background:url('/img/gate_2020/visual_sign_model.png') 50% 100% no-repeat;background-size:85.42vw}
#secVisual .parallax-bg {position: absolute;width:calc(var(--vh, 1vh) * 215);height:calc(var(--vh, 1vh) * 100);background-size:100%}

/* swiper - Pagination */
#secVisual .swiper-pagination {bottom:6.667vw}
#secVisual .swiper-pagination-bullet {position:relative;width:26.67vw;height:0.8vw;border-radius:0;background:#fff;opacity:1;box-shadow:1px 1px 4px rgba(0, 0, 0, 0.6)}
#secVisual .swiper-pagination-bullet:after {position:absolute;top:-6vw;left:0;width:100%;font-family:'HGGGothicssi';font-size:2.9vw;font-weight:800;color:#fff;text-align:center;white-space:nowrap;opacity:0.4;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6)}
#secVisual .swiper-pagination-bullet:nth-child(1):after {content:'보험샵으로 고객방문'}
#secVisual .swiper-pagination-bullet:nth-child(2):after {content:'보험클리닉 찾기'}
#secVisual .swiper-pagination-bullet:nth-child(3):after {content:'전문가 직접 방문'}
#secVisual .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active {background-color:#20d8ff}
#secVisual .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active {background-color:#ffefd0}
#secVisual .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active {background-color:#fdc314}
#secVisual .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active:after {color:#20d8ff;opacity:1}
#secVisual .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active:after {color:#ffefd0;opacity:1}
#secVisual .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active:after {color:#fdc314;opacity:1}

/* SIGN(이정표) */
#secVisual .btn_sign {position:absolute;width:45.33vw;height:15.2vw;background:0 0 no-repeat;background-size:cover}
#secVisual .btn_shop {left:50%;top:20.56vw;margin-left:-46vw;background-image:url('/img/gate_2020/visual_sign_shop.png')}
#secVisual .btn_fa {left:50%;top:12.84vw;margin-left:2vw;background-image:url('/img/gate_2020/visual_sign_fa.png')}

/* SHOP */
#secVisual .tit_shop {position:absolute;top:54vw;left:5vw}
#secVisual .tit_shop .txt {padding-left:10vw;font-family:'HGGGothicssi';font-weight:900;color:#fff;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.6);opacity:0;transition:all 0.8s ease-in-out}
#secVisual .tit_shop .txt1 {font-size:8.3vw}
#secVisual .tit_shop .txt2 {font-size:13.4vw;color:#0fc9ff}
#secVisual .tit_shop .txt3 {font-size:9.4vw}
#secVisual .link_shop {position:absolute;top:210px;display:block;width:80px;height:80px;border-radius:100%;background-color:#0096ff;box-shadow:0 0 10px rgba(9, 194, 233, 1);animation:shopLinkCircle 1s infinite}
#secVisual .link_shop:before,
#secVisual .link_shop:after {content:'';position:absolute;top:50%;left:50%;width:90px;height:90px;border:3px solid #0096ff;border-radius:100%;box-shadow:0 0 10px rgba(9, 194, 233, 1), inset 0 0 10px rgba(9, 194, 233, 1);transform:translate(-50%, -50%);opacity:0;}
#secVisual .link_shop:before {animation:shopLinkCircle1 1s infinite}
#secVisual .link_shop:after {animation:shopLinkCircle2 1s  0.2s infinite}
#secVisual .link_shop span {position:absolute;top:50%;left:50%;z-index:1;font-family:'HGGGothicssi';font-size:26px;font-weight:800;color:#fff;white-space:nowrap;transform:translate(-50%, -50%)}
#secVisual .swiper-slide-active .tit_shop .txt {padding-left:0;opacity:1}
#secVisual .swiper-slide-active .tit_shop .txt2 {transition-delay:0.3s;animation:titShopGlow 1s alternate infinite}
#secVisual .swiper-slide-active .tit_shop .txt3 {transition-delay:0.6s}
@keyframes titShopGlow {
    100%        {text-shadow:0 0 5vw #1300f9}
}
@keyframes shopLinkArr {
    100%            {transform:translateY(7px)}
}
@keyframes shopLinkCircle {
    0%, 30%         {width:80px;height:80px;margin:0}
    10%             {width:86px;height:86px;margin:-3px 0 0 -3px;}
}
@keyframes shopLinkCircle1 {
    30%, 60%         {opacity:1}
    90%, 100%        {opacity:0}
    100%             {width:140px;height:140px}
}
@keyframes shopLinkCircle2 {
    30%, 60%         {opacity:0.6}
    90%, 100%        {opacity:0}
    100%             {width:140px;height:140px}
}