@charset "UTF-8";
/* CSS Document */


/**************************************************************************** 
    common
****************************************************************************/
.antiTouch {pointer-events:none}


/**************************************************************************** 
    layout
****************************************************************************/
/* Frame */
#wrap {position:relative;width:100%;height:100%;font-family:'SCDream',sans-serif}
#container {position:relative;height:100%;z-index:20}
#footer {position:relative;z-index:20}

/* FOOTER */
#footer {position:fixed;bottom:0;width:100%;height:20.13vw;background-color:#404040;opacity:0;transform:translateY(100%);transition:all 0.5s ease-in-out}
#footer .list_addr {padding:5vw 0 0 4.5vw}
#footer .list_addr p {margin-bottom:0.5vw;font-size:2.4vw;font-weight:300;color:#fff}
#footer .list_addr p:nth-child(3) {letter-spacing:0.02em}
#footer .list_addr .borderline {display:inline-block;margin:0 1.333vw;width:0.25vw;height:1.8vw;vertical-align:middle;background-color:#cbcbcb}
#footer .btn_close {position:absolute;top:0;left:50%;width:9.733vw;height:9.733vw;border-radius:100%;background:#fff url('/img/gate_2020/ico_close.png') center center no-repeat;background-size:40%;transform:translate(-50%, -50%);box-shadow:2px 2px 5px rgba(0, 0, 0, 0.6);}
#footer .btn_close span {display:block;font-size:14px;color:#ffe5b1;line-height:1em;letter-spacing:0.02em}
#footer .btn_phone {position:absolute;top:50%;right:4.5vw;transform:translateY(-50%)}
#footer .btn_phone::before {content:'';display:inline-block;width:5.6vw;height:5.6vw;margin-right:1vw;vertical-align:middle;background:url('/img/gate_2020/ico_phone.png') 0 0 no-repeat;background-size:cover}
#footer .btn_phone span {display:inline-block;font-size:3.467vw;color:#ffe5b1;line-height:1em;vertical-align:middle;letter-spacing:0.02em}
#footer.active {opacity:1 !important;transform:translateY(0)}

#loding {display:none;position:fixed;top:0;bottom:0;left:0;right:0;z-index:100;background-color:rgba(0,0,0,.7)}
#loding:after {content:'Loding..';position:absolute;left:50%;top:50%;font-family:'HGGGothicssi';font-size:2.9vw;color:#fff;transform:translate(-50%,-50%);text-shadow:1px 1px 2px #000;}
#loding .circle {position:absolute;left:50%;top:50%;width:18vw;height:18vw;border:1vw solid #0fc9ff;border-top:1vw solid transparent;border-radius:100%;transform:translate(-50%,-50%);transition:all 0.2s;animation:lodingCircle 0.8s infinite linear}
.locationFa #loding .circle {border-color:transparent #fdc314 #fdc314 #fdc314}
@keyframes lodingCircle {
    from        {transform:translate(-50%,-50%) rotate(0)}
    to          {transform:translate(-50%,-50%) rotate(360deg)}
}


/****************************************************************************
	content area
****************************************************************************/
/* swiper */
#secVisual {position:fixed;width:100%;height:100%}
#secVisual .swiper-container {height:100%}
#secVisual .swiper-slide:nth-child(2)::before {content:'';display:block;position:absolute;bottom:0;left:50%;z-index:1;width:100%;height:116.4vw;max-height:calc(var(--vh, 1vh) * 70);background:url('/img/gate_2020/visual_sign_model.png') center bottom no-repeat;background-size:contain;transform:translateX(-50%)}
#secVisual .swiper-slide:nth-child(2)::after {content:'';display:block;position:absolute;top:0;left:0;z-index:-1;width:100%;height:117.3vw;background:url('/img/gate_2020/visual_sign_pole.png?v=3') 0 0 no-repeat;background-size:cover}
#secVisual .parallax-bg {position: absolute;width:calc(var(--vh, 1vh) * 180);height:calc(var(--vh, 1vh) * 100);background-size:auto 100%}

/* swiper - Pagination */
#secVisual .swiper-pagination {bottom:6.667vw}
#secVisual .swiper-pagination-bullet {position:relative;width:26.67vw;height:0.8vw;border-radius:0;background:#fff;opacity:1;box-shadow:1px 1px 4px rgba(0, 0, 0, 0.6)}
#secVisual .swiper-pagination-bullet:after {position:absolute;top:-6vw;left:0;width:100%;font-family:'HGGGothicssi';font-size:3.2vw;font-weight:800;color:#fff;text-align:center;white-space:nowrap;opacity:0.4;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6)}
#secVisual .swiper-pagination-bullet:nth-child(1):after {content:'보험샵으로 고객방문'}
#secVisual .swiper-pagination-bullet:nth-child(2):after {content:'보험클리닉 찾기'}
#secVisual .swiper-pagination-bullet:nth-child(3):after {content:'전문가 직접 방문'}
#secVisual .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active {background-color:#20d8ff}
#secVisual .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active {background-color:#ffefd0}
#secVisual .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active {background-color:#fdc314}
#secVisual .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active:after {color:#20d8ff;opacity:1}
#secVisual .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active:after {color:#ffefd0;opacity:1}
#secVisual .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active:after {color:#fdc314;opacity:1}

/* SIGN(이정표) */
#secVisual .btn_sign {position:absolute;width:45.33vw;height:15.2vw;background:0 0 no-repeat;background-size:cover}
#secVisual .btn_shop {left:50%;top:-15.2vw;margin-left:-46.7vw;background-image:url('/img/gate_2020/visual_sign_shop.png');transform-origin:center right}
#secVisual .btn_fa {left:50%;top:-15.2vw;margin-left:2vw;background-image:url('/img/gate_2020/visual_sign_fa.png');transform-origin:center left}
#secVisual .hand {position:absolute}
#secVisual .hand::after {content:'';overflow:hidden;position:absolute;width:8.533vw;height:3.733vw;background:0 0 no-repeat;background-size:8.533vw 3.733vw}
#secVisual .hand .ico_hand {position:absolute;top:0;left:0;display:block;width:10.4vw;height:10.4vw;background:url('/img/gate_2020/ico_hand.png') 0 0 no-repeat;background-size:cover;transform-origin:bottom center}
#secVisual .hand .ico_hand:nth-child(1) {z-index:1}
#secVisual .hand .ico_hand:nth-child(2) {opacity:0.3;}
#secVisual .hand_shop {top:44vw;left:15vw}
#secVisual .hand_shop:after {left:-3.5vw;top:-0.6vw;background-image:url('/img/gate_2020/ico_hand_arr_shop.png');animation:handShopArr 1s alternate infinite}
#secVisual .hand_shop .ico_hand:nth-child(1) {animation:handShop 1s  alternate infinite}
#secVisual .hand_shop .ico_hand:nth-child(2) {left:-1vw;;transform:rotate(-15deg)}
#secVisual .hand_fa {top:43vw;right:24vw}
#secVisual .hand_fa:after {left:3.7vw;top:-0.6vw;background-image:url('/img/gate_2020/ico_hand_arr_fa.png');animation:handFaArr 1s alternate infinite}
#secVisual .hand_fa .ico_hand:nth-child(1) {animation:handFa 1s alternate infinite}
#secVisual .hand_fa .ico_hand:nth-child(2) {left:1vw;;transform:rotate(15deg)}
#wrap.active #secVisual .btn_shop {top:20.56vw;opacity:1;transition:top 1.5s ease-in-out, opacity 0.5s;animation:signBtnLoop 2s 2s infinite linear}
#wrap.active #secVisual .btn_fa {top:12.84vw;opacity:1;transition:top 1s ease-in-out, opacity 0.2s;animation:signBtnLoop 2s 3s infinite linear}
@keyframes handShop {
    0%,50%      {left:0;transform:rotate(0)}
    100%        {left:-1vw;transform:rotate(-15deg)}
}
@keyframes handFa {    
    0%,50%      {left:0;transform:rotate(0)}
    100%        {left:1vw;transform:rotate(15deg)}
}
@keyframes handShopArr {
    0%            {opacity:0.2}
    50%           {width:8.533vw;opacity:1;}
    100%          {width:4.8vw}
}
@keyframes handFaArr {
    0%            {opacity:0.2}
    50%           {left:3.7vw;width:8.533vw;opacity:1;background-position-x:0}
    100%          {left:8.333vw;width:4.8vw;background-position-x:-4.733vw}
}

@keyframes signBtnLoop {
    8%                    {transform:perspective(3000px) rotateY(-10deg);filter:brightness(1.2)}
    16%                   {transform:perspective(3000px) rotateY(10deg);filter:brightness(0.6)}
    22%                   {transform:perspective(3000px) rotateY(-8deg);filter:brightness(1)}
    28%                   {transform:perspective(3000px) rotateY(8deg);filter:brightness(0.8)}
    33%                   {transform:perspective(3000px) rotateY(-6deg);filter:brightness(1)}
    38%                   {transform:perspective(3000px) rotateY(5deg);filter:brightness(0.85)}
    42%                   {transform:perspective(3000px) rotateY(-3deg);filter:brightness(1)}
    45%                   {transform:perspective(3000px) rotateY(2deg);filter:brightness(0.95)}
    48%                   {transform:perspective(3000px) rotateY(-2deg);filter:brightness(1)}
    50%,100%              {transform:perspective(3000px) rotateY(0);filter:brightness(0.95)}
}




/* SHOP */
#secVisual .tit_shop {position:absolute;top:54vw;left:5vw}
#secVisual .tit_shop .txt {margin-top:3vw;font-family:'HGGGothicssi';font-weight:900;color:#fff;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.6);opacity:0;transition:all 0.2s ease-in-out}
#secVisual .tit_shop .txt1 {font-size:8.3vw}
#secVisual .tit_shop .txt2 {font-size:13.4vw;color:#0fc9ff}
#secVisual .tit_shop .txt3 {font-size:9.4vw}
#secVisual .link_shop {position:absolute;top:105vw;left:55vw;display:block;width:20vw;height:20vw;border-radius:100%;background-color:#0096ff;box-shadow:0 0 2vw rgba(9, 194, 233, 1);opacity:0;transition:opacity 0.5s;animation:linkCircle 1s infinite, linkCirlceZiggle 1s infinite alternate ease-in-out}
#secVisual .link_shop:before,
#secVisual .link_shop:after {content:'';position:absolute;top:50%;left:50%;width:22vw;height:22vw;border:0.6vw solid #0096ff;border-radius:100%;box-shadow:0 0 2vw rgba(9, 194, 233, 1), inset 0 0 2vw rgba(9, 194, 233, 1);transform:translate(-50%, -50%);opacity:0;}
#secVisual .link_shop:before {animation:linkCircle1 1s infinite}
#secVisual .link_shop:after {animation:linkCircle2 1s  0.2s infinite}
#secVisual .link_shop span {position:absolute;top:50%;left:50%;z-index:1;font-family:'HGGGothicssi';font-size:7vw;font-weight:800;color:#fff;white-space:nowrap;transform:translate(-50%, -50%)}
#secVisual .swiper-slide-active .tit_shop .txt {margin-top:0.5vw;opacity:1;transition:all 0.6s 0.2s ease-in-out}
#secVisual .swiper-slide-active .tit_shop .txt2 {transition:all 0.6s 0.4s ease-in-out;text-shadow:0 0 1vw #0042f9;animation:titShopGlow 1.5s alternate infinite ease-in-out}
#secVisual .swiper-slide-active .tit_shop .txt3 {transition:all 0.6s 0.6s ease-in-out}
#secVisual .swiper-slide-active .link_shop {opacity:1;transition:opacity 1s 1.2s}
@keyframes titShopGlow {
    50%,100%        {text-shadow:0 0 4vw #0042f9}
}



/* FA */
#secVisual .tit_fa {padding-top:20vw;}
#secVisual .tit_fa .txt {margin-top:3vw;font-family:'HGGGothicssi';font-weight:900;color:#fff;text-align:center;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.6);opacity:0;transition:all 0.2s ease-in-out}
#secVisual .tit_fa .txt1 {font-size:7.333vw}
#secVisual .tit_fa .txt2 {position:relative;padding-top:4vw;font-size:7.333vw;color:#fdc314}
#secVisual .tit_fa .txt2 em {color:#fd8d14}
#secVisual .tit_fa .txt2 i {display:block;position:absolute;top:1vw;left:50%;width:1.5vw;height:1.5vw;border-radius:100%;box-shadow:2px 2px 4px rgba(0, 0, 0, 0.6)}
#secVisual .tit_fa .txt2 i:nth-child(1) {margin-left:-20.5vw;background-color:#fd8d14}
#secVisual .tit_fa .txt2 i:nth-child(2) {margin-left:-14.5vw;background-color:#fd8d14}
#secVisual .tit_fa .txt2 i:nth-child(3) {margin-left:-3.5vw;background-color:#fdc314}
#secVisual .tit_fa .txt2 i:nth-child(4) {margin-left:2.5vw;background-color:#fdc314}
#secVisual .tit_fa .txt2 i:nth-child(5) {margin-left:9vw;background-color:#fdc314}
#secVisual .tit_fa .txt2 i:nth-child(6) {margin-left:19.5vw;background-color:#fd8d14}
#secVisual .tit_fa .txt3 {font-size:11.73vw;color:#fdc314}
#secVisual .tit_fa .txt4 {font-size:8.267vw}
#secVisual .link_fa {position:absolute;top:100vw;left:42vw;display:block;width:20vw;height:20vw;border-radius:100%;background-color:#ed7d04;box-shadow:0 0 2vw rgba(237, 158, 4, 1);opacity:0;transition:opacity 0.5s;animation:linkCircle 1s infinite, linkCirlceZiggle 1s infinite alternate ease-in-out}
#secVisual .link_fa:before,
#secVisual .link_fa:after {content:'';position:absolute;top:50%;left:50%;width:22vw;height:22vw;border:0.6vw solid #fff3a1;border-radius:100%;box-shadow:0 0 2vw rgba(237, 158, 4, 1), inset 0 0 2vw rgba(237, 158, 4, 1);transform:translate(-50%, -50%);opacity:0;}
#secVisual .link_fa:before {animation:linkCircle1 1s infinite}
#secVisual .link_fa:after {animation:linkCircle2 1s  0.2s infinite}
#secVisual .link_fa span {position:absolute;top:50%;left:50%;z-index:1;font-family:'HGGGothicssi';font-size:7vw;font-weight:800;color:#fff;white-space:nowrap;transform:translate(-50%, -50%)}
#secVisual .swiper-slide-active .tit_fa .txt {margin-top:1vw;opacity:1;transition:all 0.6s 0.2s ease-in-out}
#secVisual .swiper-slide-active .tit_fa .txt2 {transition:all 0.6s 0.4s ease-in-out}
#secVisual .swiper-slide-active .tit_fa .txt3 {transition:all 0.6s 0.6s ease-in-out;text-shadow:0 0 1vw #f3861b;animation:titShopGlow2 1.5s alternate infinite ease-in-out}
#secVisual .swiper-slide-active .tit_fa .txt4 {transition:all 0.6s 0.8s ease-in-out}
#secVisual .swiper-slide-active .link_fa {opacity:1;transition:opacity 1s 1.4s}
@keyframes titShopGlow2 {
    50%,100%        {text-shadow:0 0 4vw #f3861b}
}
@keyframes linkCirlceZiggle {
    100%        {transform: translateY(2vw)}
}
@keyframes linkCircle {
    0%, 30%         {width:20vw;height:20vw;margin:0}
    10%             {width:22vw;height:22vw;margin:-1vw 0 0 -1vw}
}
@keyframes linkCircle1 {
    30%, 60%         {opacity:1}
    90%, 100%        {opacity:0}
    100%             {width:35vw;height:35vw}
}
@keyframes linkCircle2 {
    30%, 60%         {opacity:0.6}
    90%, 100%        {opacity:0}
    100%             {width:35vw;height:35vw}
}

/* 기업정보 자세히보기 */
#banner_info {display:flex;justify-content: space-between;align-items:center;position:fixed;left:50%;bottom:22vw;width:calc(80vw + 24px);opacity:0;transform:translateX(-50%);transition:opacity 0.3s 0.2s, bottom 0.8s}
#banner_info .btn_info {display:block;width:14.67vw;height:12.27vw;background:url('/img/gate_2020/ico_info.png') 0 0 no-repeat;background-size:cover}
#banner_info .btn_phone {display:block;width:10.53vw;height:10.53vw;background:url('/img/gate_2020/ico_phone2.png') 0 0 no-repeat;background-size:cover}
#banner_info.active {opacity:1;bottom:18vw;transition:opacity 0.8s, bottom 0.8s}